@import "config";

.project{

    h1 {
        margin: 5vh 0;
    }
}

.projects{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(4, 1fr);
}

@include mediaLg {
    .projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@include mediaMd {
    .projects{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@include mediaSm {
    .projects{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}