@import "../../styles/config";

.project {
    
    img {
      height: 200px;
      width: 100%;
      border: 3px #fff solid;
  
      &:hover {
        opacity: 0.5;
        border-color: $secondary-color;
        @include easeOut;
      }
    }
  }